* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.buttonRight {
	float: left;
}



.line {
	color: black;
	background-color: white;
	font-size: 1em;
	padding: auto;
	vertical-align: middle;
	padding-left: 0px;
	margin-left: 0px;
}



.columnfield {
	border: 1px solid #DCDCDC;
	border-radius: 5px;
}





.buttonLeft {
	float: right;
}



.buttonLeft, .buttonRight {
	font-size: 10px;
	line-height: 0px;
	text-align: center;
	padding: 0;
	border: none;
	margin: 0;
	margin-top: auto;
}

.text {
	line-height: 0px;
	text-align: center;
	padding: 0;
	font-size: 15px;
	border: none;
	background-color: white;
	color: #DCDCDC;
}




.textInput {
	height: 43px;
}
.buttonCenter {
	border-radius: 0 !important;
}
.buttonLeftEndTop {
	border-radius: 0px 4px 0px 0px !important;
}
.buttonLeftEndBottom {
	border-radius: 0px 0px 4px 0px !important;
}
.row {
	margin: 10px 0px;
	padding: 0;
}
.noPadding {
	padding: 0;
}
.addonLeft {
	width: 95px;
}

.eventButton {
	border-radius: 100%;
	
}

.buttonRow {
	margin: 0;
	padding: 0;
	float: right;
}
