.important {
	width: 100%;
	text-align: center;
}

.button-arrow {
	background-color: white; 
	border: none;
	border-radius: 10px;
	color: black;
	display: inline-block;
	font-size: 16px;
	vertical-align: bottom;
	widht: 24px;
}

.button-left {
	float: left;
}

.button-right {
	float: right;
}

.button-Day {
	width: 25px;
	height: 25px;
	border: none;
	background-color: white;
	border-radius: 50%;
	padding: 0px 4px;
	text-align:center;
	line-height:25px;
	font-size:13px;
}

.button-Day-current {
	color:white;
	text-align: center;
	width: 25px;
	height: 25px;
	background-color: rgba(238 ,0 ,0,0.5 );
	border: none;
	border-radius: 50%;
	padding: 0px 4px;
	text-align:center;
	line-height:25px;
	font-size:13px;
}

.label-week{
	opacity:1;
}

.label-not-week{
	opacity:0.3;
}

td {
	text-align: center;
	vertical-align: bottom;
}

.tableHeight{
	
 height: 60px;	
	
}

.barChartOuter{
	
	height: 60px;
	width: 9px;
	display: inline-block;
	background-color: rgba(0,0,0,0);
	
}

.barChart {
	position:relative;	
	bottom:0px;
	
	width: 7px;
	display: inline-block;
	background-color: #ff8c00;
	border-radius: 10px;
	border: 1px solid green;
}

.button-Day:HOVER{
	border-radius:50px;
	border-color:rgb(255,0,0);
	
}

.button-Day-current:HOVER{
	
	border-radius:50px;
	background-color: rgba(238 ,0 ,0,0.5 );
}

.button-Day:FOCUS {
	
}

.weeklyUtilization {
	height: 100%;
	width: 100%;
	margin-top: 75px;
	text-align: left;
}

.barChartHorizontal {
	width: 7px;
	text-align: center;
	display: inline-block;
	background-color: #00AAAA;
	border-radius: 10px;
	margin-bottom: 40px;
}

.barChartHeightHorizontal {
	width: 7px;
	text-align: center;
	display: inline-block;
	background-color: #ff8c00;
	border-radius: 10px;
	margin-bottom: 40px;
}