* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.buttonRight {
	float: left;
}

.book {
	background-color: orange;
	color: white;
	font-family: arial;
	font-size: 15px;
}
.book:HOVER{
	background-color: orange;
	color: white;
	transform:scale(1.1, 1.1);
}

.line {
	color: black;
	background-color: white;
	font-size: 1em;
	padding: auto;
	vertical-align: middle;
	padding-left: 0px;
	margin-left: 0px;
}

.eventButton {
	border-radius: 100%;
	visibility: hidden;
}

.textInput {
	-webkit-box-shadow: 0px 0px 0px 0px;
	-moz-box-shadow: 0px 0px 0px 0px;
	box-shadow: 0px 0px 0px 0px;
	border: 0;
	outline: 0;
	background-color: white;
	margin-top: auto;
	margin-bottom: auto;
	width: 100%;
	padding-left: 0px;
	padding-right: 0px;
	margin-left: 0px;
	margin-right: 0px;
	height: 100%;
}

.columnfield {
	border: 1px solid #DCDCDC;
	border-radius: 5px;
}

.buttonLeft {
	float: right;
}

.eventButton, .book {
	margin-top: 2em;
}

.buttonLeft, .buttonRight {
	font-size: 10px;
	line-height: 0px;
	text-align: center;
	padding: 0;
	border: none;
	margin: 0;
	margin-top: auto;
}

.text {
	line-height: 0px;
	text-align: center;
	padding: 0;
	font-size: 15px;
	border: none;
	background-color: white;
	color: #DCDCDC;
}